* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #9e9e9e33;
}

.uppernavbg {
    background-color: #9e9e9e33;
    cursor: default;

}

.uppernavpadding {
    padding-left: 280px;
    cursor: default;
}

.uppernavbutton {
    border: none;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
}

.uppernavbutton:hover {
    color: #f85606;
    text-decoration: underline;
}


#active {
    color: #e96522;
}

/* LOGO BG */

.logobg {
    background-color: rgb(255, 255, 255);
}

.logopadding {
    padding-top: 15px;
    padding-left: 120px;
    height: 75px;
    display: flex;
}

.logo {
    cursor: pointer;
}

.searchpadding {
    padding-left: 170px;
    padding-top: 2px;
    display: flex;
}

.searcharea {
    height: 50px;
    width: 650px;
    background-color: #9e9e9e33;
    border: none;
    padding: 13px 19px;
    outline: none;
}

/* Search button */

.mainsearchbutton {
    color: #fff;
    background-color: #e96522;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}


/* Cart button */

.cartpadding {
    padding-left: 8px;
    padding-top: 5px;
}

.cartbutton {
    height: 45px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Offer */

.offerpadding {
    padding-left: 50px;
    padding-top: 4px;
    cursor: pointer;
}
